<!-- Loop over each object in the post array -->
{{#each posts as |post|}}
  <div class='m-a mb-4'>
    <div class=''>
      <h2>
        <!-- Call helper function with triple brackets to render the emoji span as HTML -->
        <a class='txt-lg' href='/post/{{post.id}}'>{{post.title}}</a>
      </h2>
      <p class=''>Created by
        {{post.user.name}}
        on
        {{format_date post.date_created}}</p>
    </div>

  </div>
{{/each}}