header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.body {
  background-color: rebeccapurple;
  /* color: white; */
  text-align: center;
}

.m-a {
  margin: auto;
}

.txt-lg {
  font-size: large;
}

.txt-cnt {
  text-align: center;
}

.post-weight {
  font-size: large;
  font-weight: 700;
}

/* .card {
  background: grey;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.25rem;
  height: 10rem;
  width: 30rem;
} */

/* .card-body {
  font-size: 0.9rem;
} */

.no-button:hover {
  text-decoration: underline;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
}

.btn-style {
  background: antiquewhite;
  border: 1px solid navajowhite;
}

.dpink {
  color: deeppink;
}

.a-white {
  color: antiquewhite;
}
